# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.sqlite3

# macOS
.DS_Store

# Node/Angular
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Logs
logs/
*.log

# OS
Thumbs.db
